.house-arrange-excel-wrapper{
  margin: 20px;
  //modal对话框垂直居中
  .vertical-center-modal {
    text-align: center;
    white-space: nowrap;
  }
  .vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  .vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
  }

  .ant-card-head{
    height:40px;
    min-height: 40px;
    line-height: 40px;
    padding-right: 0;
    .ant-card-head-title{
      padding:0;
      color: #787878 !important;
    }
  }
  .ant-card-hoverable{
    cursor: default!important;
  }
  .isvisit-badge{
    display: inline-block;
    float:right;
    font-size: 13px;
    background-color: #39ac6a;
    padding:0 10px;
    color:#fff;
  }
  .novisit{
    background-color: #ff9e1e;
  }
  .house-arrange-excel-content{
    .house-arrange-excel-content-line-wrapper{
      margin-bottom: 10px;
      .ready-to-feed{
        color: #ff9e1e;
      }
      .house-arrange-excel-content-desc{
        display: inline-block;
        margin-left: 10px;
        width:325px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        //防止文本与tag错位
        vertical-align: bottom;
      }
      .short-desc{
        width:auto;
      }
      .not-urgent{
        color: #cbcbcb;
      }
    }
    .no-margin-bottom{
      margin-bottom: 0;
    }

  }
}