.template-content-wrapper{
  .generate-prereport-button{
    height:60px;
    background-color: #39ac6a;
    margin-top: 20px;
    color:#fff;
    text-align: center;
    line-height:60px;
    font-size:20px;
    cursor: pointer;
    transition: all .5s;
    &:hover{
      background-color: #40cb81;
    }
  }
  .template-title{
    margin:0 auto;
    padding:10px;
    height:30px;
    background-color: #39ac6a;
    border-radius:0 0 5px 5px;
    color:#fff;
    line-height:30px;
    font-size:20px;
    text-align: center;
    width:200px;
    box-sizing: content-box;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
  }
  .template-input-area{
    margin-top: 20px;
    padding:15px 60px;
    .template-input-type-title-wrapper{
      height:40px;
      position: relative;
      margin-bottom: 15px;
      .template-input-type-title{
        position: absolute;
        border-radius:0 3px 3px 0;
        left:-70px;
        width:150px;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        background-color: #39ac6a;
        color:#fff;
        text-align: center;
        line-height:30px;
      }
    }
  }

}
.baidu-map-wrapper{
  .baidu-map-estate-name-input-wrapper{
    position: relative;
    height:30px;
    .baidu-map-estate-name-input{
      position: absolute;
      left:-10px;
      height:40px;
      top:-10px;
      width:150px;
      z-index:100;
      border-radius:0 3px 3px 0;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
      color:#fff;
      background-color: #39ac6a;
    }
  }
}
.baidu-map-container{
  float:left;
  width:65%;
  box-shadow: 0 1px 2px  rgba(0,0,0,0.2);
}
.baidu-map-search-container{
  float:left;
  width:35%;
  height:450px;
  position: relative;
  box-shadow: 0 1px 2px  rgba(0,0,0,0.2);
  .sub-tab-content-container{
    width:100%;
  }
  .clear-baidu-map-search-results{
    position: absolute;
    right:10px;
    bottom:10px;
    width:40px;
    height:40px;
    z-index:99;
  }
}

//antd的tab重新定义宽度，此时需要一个class来设定范围，只设定该class下的tab宽度
.sub-tab-resize{
  .ant-tabs-bar .ant-tabs-tab{
    margin-right: 10px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:10px;
  }
  .sub-tab-content-container{
    overflow: auto;
    height:356px;
    position: relative;
    .search-result-empty-wrapper{
      overflow: hidden;
      height:100%;
      width:100%;
      .search-result-empty-img{
        width:64px;
        height:64px;
        margin:150px auto 0 auto;
        img{
          width:100%;
          height:100%;
        }
      }
    }
  }
  .ant-tabs-bar{
    margin-bottom: 0;
  }
  .ant-tabs-nav-wrap{
    padding-left:20px;
  }
}

.main-tab-resize{
  .ant-tabs-tabpane.ant-tabs-tabpane-active{
    padding-right: 0!important;
    padding-left: 0!important;
    padding-bottom:0!important;
  }

}


//infoWindow的样式
.triangle-down{
  position: absolute;
  top:100%;
  left:50%;
  width:0;
  height:0;
  border-top:7px solid #fff;
  border-right:7px solid transparent;
  border-left:7px solid transparent;
  border-bottom:7px solid transparent;
}
.infobox-title-wrapper{
  height:20px;
  .font-awesome-grey{
    color: #575757;
    margin-right: 5px;
  }
  .infobox-title-left{
    float:left;
    width:160px;
    height:20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .infobox-title-right{
    float:left;
    height:20px;
  }
  .infobox-title-word{
    color: #575757;
    font-weight: bold;
    font-size:14px;
  }
}
.infobox-content{
  margin-top: 20px;
  font-size:14px;
  width:100%;
  color: #bfbfbf;
  word-break:break-all
}



//antd的tab样式相关
.baidu-map-search-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}

.baidu-map-search-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.baidu-map-search-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
  background-color: #f1f1f1;

}

.baidu-map-search-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
  border-radius:0;
  border-left:none;
  border-right:none;
}

.baidu-map-search-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {

  background: #fff;
  border-top:2px #72bbff solid;
  border-left:none;
  border-right:none;
}