$subHeaderMarginTop:60px;
.sub-header{
  position: fixed;
  left:0;
  top: $subHeaderMarginTop;
  width:100%;
  height:60px;
  background-color:#fff;
  box-sizing: content-box;
  z-index:100;
  //阴影
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  .sub-header-wrapper{
    height:100%;
    width:1000px;
    margin: 0 auto;
    box-sizing: content-box;
    .sub-header-ul{
      .sub-header-li{
        float:left;
        .word-span{
          margin-left: 10px;
        }
        //a标签,未激活状态下
        .navlink{
          display: inline-block;
          height:$subHeaderMarginTop;
          padding:0 20px;
          line-height:$subHeaderMarginTop;
          background-color: #fff;
          color: #767272;
          text-decoration: none;
          transition: all .5s;
          &:hover{
            background-color: #39ac6a!important;
            color:#fff;
          }
        }
        //a标签激活状态下
        .active-menu{
          background-color: #39ac6a;
          color:#fff;
        }
      }
    }
  }
}
