$marginTop:120px;
.house-position-map-wrapper{
  position: absolute;
  width:100%;
  height:calc(100% - #{$marginTop});
  margin-top: $marginTop;
  .house-position-map{
    width:100%;
    height:100%;
  }
  .map-right-bottom-button-area{
    position: absolute;
    right:30px;
    bottom:30px;
    min-width:150px;
    height:40px;
    .map-right-bottom-button{
      width:40px;
      height:40px;
      margin-left: 10px;
      position: relative;
      float:right;
      .marker-label-type-select{
        position: absolute;
        right:0;
        top:0;
        transition: all .5s;
        height:40px;
        width:40px;
        line-height: 40px;
        text-align: center;
        background-color: #fff;
        box-shadow: 1px 2px 1px rgba(0,0,0,.15);
        border-radius: 40px;
        //奇效，防止占用空间大的button突然出现产生的滚动条抖动
        overflow: hidden;
        .marker-radio-button-active{
          display: block;
        }
        .marker-radio-button-inactive{
          display:none;
        }
      }
      .marker-label-type-select-active{
        width:260px;
      }
      button{
        z-index:300;
        background-color: #39ac6a!important;
        border-color: #39ac6a!important;
        &:hover{
          .marker-label-type-select{
            width:300px;
          }
        }
      }
    }
  }
  .right-side-map-operation-wrapper{
    position: absolute;
    top:30px;
    right:30px;
    width:200px;
    background-color: red;
    z-index:1000;
    .right-size-map-operation-block-title{
      height:40px;
      background-color: #39ac6a;
      line-height: 40px;
      padding:0 15px;
      color:#fff;
      .right-size-map-operation-block-title-word{
        margin-left: 10px;
      }
    }
    .right-size-map-operation-block-content{
      padding: 10px;
      min-height:100px;
      text-align: center;
      .fileinput-button{
        position: relative;
        display: inline-block;
        overflow: hidden;
        width:100px;
        height:35px;
        background-color: #39ac6a;
        color:#fff;
        text-align: center;
        line-height: 35px;
        margin-top:23px;
        border-radius: 5px;
        cursor: pointer!important;
        input{
          position: absolute;
          right: 0;
          top: 0;
          opacity: 0;
          -ms-filter: 'alpha(opacity=0)';
          font-size: 200px;
        }
      }
    }
    .right-size-map-operation-block{
      width:100%;
      background-color: white;
      box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    }
    //文件上传
    .right-size-map-operation-block-file{

    }
  }
}
