.download-picture-btn{
  position: absolute;
  right:42px;
  bottom:-26px;
  width:30px;
  height:30px;
}
.has-download{
  font-size: 10px;
  position: absolute;
  top:0;
  left:-60px;
  width:50px;
  background: rgb(57, 172, 106);
  color:#fff;
  padding:3px 5px;
  border-radius:8px;
}