.business-content-wrapper{
  width:90%;
  margin:20px auto 0 auto;
  .ant-table {
    //很关键，可以让表格自适应宽度且不换行
    td,th {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .business-file-red{
    color:#cf1322;
  }
  .business-file-green{
    color:#00B247;
  }
  .business-not-found-wrapper{
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    .business-not-found-img{
      .business-not-found-img-img{
        width:256px;
        height:256px;
        background: url('./../../assets/img/icon/folder.png') center center no-repeat;
      }
      .business-not-found-img-word{
        margin-top: 20px;
        color:#aaaaaa;
        text-align: center;
      }
    }
  }
  .business-search-wrapper{
    margin-bottom: 20px;
    .business-search-inner{
      width:30%;
      float:right;

    }
    .business-search-inner-button{
      float:right;
      margin-left: 10px;
      .business-refresh-button{
        margin-left: 10px;
      }
    }
  }
  .business-pagination{
    margin-top: 20px;
    float:right;
  }
  .ant-table-row{
    td{
      padding-top:10px;
      padding-bottom:10px;
    }
    input{
      height:26px;
    }
  }

}
.business-tabledata-operation-icon{
  width:20px;
  height:20px;
  display: inline-block;
  cursor: pointer;
  margin-right:10px;
  position: relative;
  top:2px;
}
.business-tabledata-operation-icon-delete{
  background: url('./../../assets/img/icon/delete.png') no-repeat center center;
  background-size:20px 20px;
}
.business-tabledata-operation-icon-modify{
  background: url('./../../assets/img/icon/modify.png') no-repeat center center;
  background-size:20px 20px;
}
.business-tabledata-operation-icon-confirm{
  background: url('./../../assets/img/icon/confirm.png') no-repeat center center;
  background-size:20px 20px;
}
.business-tabledata-operation-icon-cancel{
  background: url('./../../assets/img/icon/cancel.png') no-repeat center center;
  background-size:20px 20px;
}
