
.col-input-wrapper{
  .label-div{
    width:35%;
    float:left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .label-span-only{
      margin-top: 9px;
      font-size:15px;
      display: inline-block;
    }
    .select-input-margin-offset{
      margin-top:4px;
      .ant-select-selection{
        border:none;
        //去除阴影，这里得去antd源代码里找对应的css属性
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        .ant-select-selection__rendered{
          margin-left:0;
          .ant-select-selection-selected-value{
            padding-right:10px;
          }
        }
      }
    }
  }
  .input-div{
    width:65%;
    float:left;
  }
  //自定义类名来控制该类下的按钮自定义颜色，小技巧之一
  .search-input-special-green{
    .ant-input-search-button{
      padding:0 25px;
      background-color: #39ac6a;
      border-color:#39ac6a;
    }
  }

}
