
.col-input-wrapper{
  position: relative;
  .label-div{
    width:35%;
    float:left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .pre-report-show-index{
      position: absolute;
      top:-15px;
      left:0;
      color: #ffffff;
      padding:1px 10px;
      background-color: rgba(0,0,0,0.4);
      border-radius: 3px;
    }
    .label-span-only{
      margin-top: 9px;
      font-size:15px;
      display: inline-block;
    }
    .select-input-margin-offset{
      margin-top:4px;
      .ant-select-selection{
        border:none;
        //去除阴影，这里得去antd源代码里找对应的css属性
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        .ant-select-selection__rendered{
          margin-left:0;
          .ant-select-selection-selected-value{
            padding-right:10px;
          }
        }
      }
    }
  }
  .input-div{
    width:65%;
    float:left;
    position: relative;
    .input-div-remove-button{
      position: absolute;
      width:20px;
      height:20px;
      background: url('./../../assets/img/icon/deleteInput.png') center center / 20px 20px no-repeat;
      right:5px;
      top:9px;
      cursor: pointer;
    }
    .pre-report-right-label-show-index{
      position: absolute;
      top:9px;
      left:5px;
      color: #ffffff;
      padding:1px 10px;
      background-color: rgba(0,0,0,0.4);
      border-radius: 3px;
    }
    .pre-report-right-label-show-index-cannot-delete{
      background-color: #39ac6a;
    }
  }
  //自定义类名来控制该类下的按钮自定义颜色，小技巧之一
  .search-input-special-green{
    .ant-input-search-button{
      padding:0 25px;
      background-color: #39ac6a;
      border-color:#39ac6a;
    }
  }

}
