.staff-allocation-panel-wrapper{
  padding:10px;
  .staff-allocation-operation-wrapper{
    height:40px;
    .staff-allocation-smart-select-wrapper{
      width:50%;
      height:40px;
      float:left;
      .staff-allocation-smart-select-label{
        margin-right: 10px;
        margin-left:20px;
      }
    }
    .staff-allocation-button-wrapper{
      width:50%;
      height:40px;
      float:left;
      text-align: center;
      .staff-allocation-excel-button{
        width:100px;
        position: relative;
        top:-5px;
        background-color: #39ac6a!important;
        border-color: #39ac6a!important;
      }
    }
  }
  .staff-allocation-list-wrapper{
    margin-top: 10px;
    height:100%;
    border-top:1px solid #e4e4e4;
    .ant-list-split .ant-list-item:last-child{
      border-bottom: 1px solid #e8e8e8;
    }
    .estate-allocated-staff-highlight{
      color:#1890ff;
    }
  }
}